/* OurTutors.css */
.page-container {
    background-color: #fff;
  }

.tutors2 {
  padding: 3px 0; 
}

.tutors2 h2 {
  text-align: center;
}

.tutors2-container {
  display: flex;
  justify-content: center; 
}

.tutor2-info {
  margin: 2px; 
  text-align: center; 
}

.tutors2 {
  padding: 20px 0; 
}

.tutors2 h2 {
  text-align: center;
}

.tutors2-container {
  display: flex;
  justify-content: center; 
}

.tutor2-info {
  width: 300px; 
  text-align: center; 
}